.navbar {
    background-color: #f2673c;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Ajuste o preenchimento conforme necessário */
}

.logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}
